@using OnlineTicariOtomasyon.Models.Siniflar
@model List<Fatura>
@{
	ViewBag.Title = "Index";
	Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2 style="margin-top:20px">FATURALAR</h2>
<br />

<table id="tbl1" class="table table-bordered">
	<thead>
		<tr>
			<th>Seri - Sıra No</th>
			<th>Tarih</th>
			<th>Saat</th>
			<th>Toplam</th>
			<th>Güncelle</th>
			<th>Detaylar</th>
			<th>Yeni Kalem</th>
		</tr>
	</thead>
	@foreach (var m in Model)
	{
		<tr>
			<td>@m.FaturaSeriNo @m.FaturaSiraNo</td>
			<td>@m.Tarih</td>
			<td>@m.Saat</td>
			<td>@m.Toplam ₺</td>
			<td><a href="/Fatura/FaturaGetir/@m.FaturaID" class="btn btn-warning">Güncelle</a></td>
			<td><a href="/Fatura/FaturaDetay/@m.FaturaID" class="btn btn-default" style="background-color:lightcoral; color:white">Detaylar</a></td>
			<td><a href="/Fatura/FaturaDetay/@m.FaturaID" class="btn btn-default" style="background-color:thistle; color:white">Kalem</a></td>
		</tr>

	}
</table>

<a href="/Fatura/FaturaEkle" class="btn btn-info">Yeni Fatura Girişi</a>
<br />
<br />
<button type="button" class="btn btn-warning" style="background-color:#d95151; color:white" data-toggle="modal" data-target="#Modal1">Popup Penceresi</button>

<div class="modal" id="Modal1">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h2 class="modal-title">Popup Diyalog Ekranı</h2>
			</div>
			<div class="modal-body">
				<table class="table table-bordered">
					<tr>
						<td>Seri No</td>
						<td>Sıra No</td>
						<td>Tutar</td>
					</tr>
					@foreach (var x in Model)
					{
						<tr>
							<td>@x.FaturaSeriNo</td>
							<td>@x.FaturaSiraNo</td>
							<td>@x.Toplam</td>
						</tr>
					}
				</table>
				<button type="button" class="btn btn-danger" data-dismiss="modal">Kapat</button>
			</div>
		</div>
	</div>
</div>



